.infoBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.BlockNameUserDataForm {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    color: gray;
    font-weight: 500;
}

.SubmitUserInfo {
    margin-top: 20px;
}