 .multiselectContainer {
     max-width: 100%;
     ;
 }




.modal_lg {
    max-width: 85% !important;
    height: 80% !important;
}

.next {
    margin-top: 2rem;
}
 .searchBox {

     /* border-bottom: 1px; */
     font-size: 15px;
     min-height: 50px;
 }


 .inputField {

     margin: 5px;
 }


 /* .chips: {
            // To change css chips(Selected options)
            background: red;
        } */

 .optionContainer {
     /* // To change css for option container  */
     /* border: 1px solid; */

     /* max-width: 50%; */
     box-shadow: inset;
 }

 .option {
     /* // To change css for dropdown options */
     color: rgb(144, 144, 149);
 }


 /* groupHeading: {
            // To chanage group heading style
            ....
        } */
 .highlightOption {
     background: none;
     color: rgb(144, 144, 149);
     ;
 }
 input[type="date" i].NGFDate {
     margin-left: 1rem;
     text-align: center;
     height: calc(1.5em + 0.75rem + 2px);
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: 0.25rem;
 }
 input[type="time" i].NGFTime {
     margin-left: 1rem;
     text-align: center;
     height: calc(1.5em + 0.75rem + 2px);
     padding: 0.375rem 0.75rem;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: 0.25rem;
 }