.layout{
    background-color: rgb(226, 168, 93) !important;
}
/* .modal-lg {
    max-width: 85% !important;
} */
.next{
    margin-top: 2rem;
}
.previewImage{
    height: 250px;
    width: 250px;
    margin-left: 10px;
}