.attendenceFilterBar {
    margin-top: 10px;
    display: flex;
    padding: 1px 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;

    .selectHotel {
        font-size: 10px;
    }

    h3 {
        margin-left: 20px;
    }
}

.attendenceList {
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 370px);
    justify-content: center;

    .card {
        min-height: 180px;
        border-radius: 20px;

        // width: 300px;
        // height: 200px;
        .outletIdentity {
            font-size: 14px;
            padding: 15px;
            display: flex;

            .hotelImg {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                background: #c3af77;
                border-radius: 20px;
                color: white;
                text-transform: capitalize;

                p {
                    margin: 4px;
                    font-weight: 600;
                }
            }

            img {
                border-radius: 20px;
                width: 70px;
                height: 70px;
            }

            ul {
                margin: auto auto auto 25px;
                margin-left: 20px !important;

                h6 {
                    margin-bottom: 0;
                }

                margin-left: 10px;

                li {
                    p {
                        margin-bottom: 7px;
                    }

                    .secondary {
                        color: gray;
                    }

                    list-style: none;
                }
            }
        }

        .controls {
            padding: 0px 15px;
            display: flex;
            justify-content: space-between;

            .otherControls {
                ul {
                    list-style: none;

                    li {
                        button {
                            height: 30px;
                            width: 30px;
                            border-radius: 40px;
                            margin-right: 7px;
                            border: 1px solid #c3af77;

                            svg {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}